<header>
  <div>
      <h2 style="margin-left: 5px; font-weight: 300; font-family: Poppins, sans-serif;" >Letras Inclusivas</h2>
  </div>
  <div class="search-bar">
      <input type="text" placeholder="Alicia en el país de las maravillas">
      <button type="submit">Buscar</button>
  </div>
  <nav>
      <a href="/" style="font-size: small;">Inicio</a>
      <a href="#" style="font-size: small;">Catálogo</a>
      <a href="/traducir-archivo" class="translate-btn" style="font-size: small;">
          <img src="{{ url_for('static', filename='images/iconotransferir.svg') }}" style="filter: brightness(0) invert(1);"  alt="Icono de archivo">
          Traducir archivo
      </a>
      {% if current_user.is_authenticated %}
      <!-- Si el usuario ha iniciado sesión -->
      <a href="/perfil" style="font-size: small; font-weight: 600;"> {{ current_user.email }}</a>
      {% else %}
      <a href="/login"  style="font-size: small;">Iniciar sesión</a>
      <button class="btn"  style="font-size: small; color: #000; font-weight: 600; margin-left: 5px;"><a href="/registro" style="text-decoration: none; color: #000; padding: 7px;">Registrarse</a></button>
      {% endif %}

  </nav>
</header>